<section class="team px-5">
    <h2 class="team__title">Nos Barbers</h2>
    <p class="team__subtitle">Découvrez notre équipe de professionnels talentueux</p>

    <div class="team__list">
      <div class="team__item">
        <div class="team__card">
          <img src="{{ asset('images/barber.png') }}" alt="Emilien" class="team__image">
          <span class="team__name">Emilien</span>
        </div>
      </div>

      <div class="team__item">
        <div class="team__card">
          <img src="{{ asset('images/barber.png') }}" alt="Emilien" class="team__image">
          <span class="team__name">Emilien</span>
        </div>
      </div>

      <div class="team__item">
        <div class="team__card">
          <img src="{{ asset('images/barber.png') }}" alt="Emilien" class="team__image">
          <span class="team__name">Emilien</span>
        </div>
      </div>

      <div class="team__item">
        <div class="team__card">
          <img src="{{ asset('images/barber.png') }}" alt="Emilien" class="team__image">
          <span class="team__name">Emilien</span>
        </div>
      </div>

      <div class="team__item">
        <div class="team__card">
          <img src="{{ asset('images/barber.png') }}" alt="Emilien" class="team__image">
          <span class="team__name">Emilien</span>
        </div>
      </div>
    </div>
</section>